.error--text.v-input > .v-input__control > .v-input__slot  {
    color: #D50000!important;
}
/* SELECTS */
.select > .v-input__control > .v-input__slot > fieldset{
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 1px;
}
.select.error--text > .v-input__control > .v-input__slot > fieldset {
    border: 2px solid #D50000;
}
.select > .v-input__control > .v-input__slot > .v-select__slot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    margin-left: 10px;

    color: #000000;
}
.v-application  > .v-menu__content {
    background: #F3F3F3;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: -2px;
}
.v-application  > .v-menu__content > .v-list {
    background: #F3F3F3!important;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 1px;
}
.v-application  > .v-menu__content > .v-list .v-list-item {
    min-height: 40px!important;
    height: 40px!important;
}
.v-application  > .v-menu__content > .v-list .v-list-item:first-letter {
    text-transform: uppercase!important;
}
.v-application  > .v-menu__content > .v-list .v-list-item.primary--text.v-list-item--active.v-list-item--link {
    font-weight: bold;
    color: #000!important;
    caret-color: #F3F3F3!important;
}
.v-application  > .v-menu__content > .v-list .v-list-item.primary--text.v-list-item--active.v-list-item--link:before{
    opacity: 0;
}
.v-select__selection:first-letter{
    text-transform: uppercase!important;
}
.question-select:first-letter {
    text-transform: uppercase!important;
}
/* BUTTON */
.v-btn--outlined.btn {
    border: 2px solid #000000;
    border-radius: 1px;
}
.v-btn--outlined.btn-thin {
    border: 1px solid #000000;
    border-radius: 1px;
}
.btn-thin > span {
    letter-spacing: .05rem!important;
    font-family: 'Akrobat';
    font-weight: 800;
    font-size: .9rem;
}
.v-item-group > .btn-thin {
    padding: 0 6px!important;
}
.v-btn {
    text-transform: initial!important;
}